---
export const prerender = true;
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import CommentPost from '../../components/CommentPost.astro';
import CommentReply from '../../components/CommentReply.astro';
import CommentSection from '../../components/CommentSection.astro';
import Footer from '../../components/Footer.astro';
import PostImage from '../../components/PostImage.astro';
import { API, PAGESIZE, SITE_TITLE } from '../../config';
import { marked } from '../../../node_modules/marked';
import DOMPurify from 'isomorphic-dompurify';
import hljs from 'highlight.js';
import imageHelper from '../../lib/image-helper';
import 'highlight.js/styles/github-dark.css';
export async function getStaticPaths() {
	async function getTotalPages() {
		let url: string = API + '/api/posts/?fields[0]=slug&pagination[pageSize]=1';
		let fetchPages = await fetch(url);
		let pages = await fetchPages.json();
		return pages.meta.pagination.pageCount;
	}
	async function getSlugs(page: number) {
		let slugs: string[] = [];
		let url: string = `${API}/api/posts/?fields[0]=slug&pagination[pageSize]=${PAGESIZE}&pagination[page]=${page}`;
		let makeRequest = await fetch(url);
		let responseJson = await makeRequest.json();
		responseJson.data.forEach((post) => {
			slugs.push(post.attributes.slug);
		});
		return { slugs: slugs };
	}
	let TotalPages: number = await getTotalPages();
	let paginationDone: boolean = TotalPages != 0 ? false : true;
	let pageNumber: number = 1;
	let allSlugs: object[] = [];
	while (!paginationDone) {
		let response = await getSlugs(pageNumber);
		if (!response) {
			break;
		}
		response.slugs.forEach((slug) => {
			allSlugs.push({ params: { slug } });
		});
		pageNumber == TotalPages ? (paginationDone = true) : (paginationDone = false);
		pageNumber = pageNumber + 1;
	}
	return allSlugs;
}
const { slug } = Astro.params;
let posts = await fetch(API + '/api/posts/?filters[slug][$eq]=' + slug + '&fields[0]=heading&fields[1]=publishedAt&fields[2]=slug&fields[3]=updatedAt&fields[4]=content&fields[5]=description&populate[cover][fields][0]=formats&populate[cover][fields]=url&populate[cover][fields]=width&populate[cover][fields]=height').then((res) => res.json());
if (!posts.data[0]) {
	return Astro.redirect('/404');
}
const post = posts.data[0].attributes;

marked.setOptions({
	renderer: new marked.Renderer(),
	highlight: function (code, lang) {
		// Syntax highlighting
		const language = hljs.getLanguage(lang) ? lang : 'plaintext';
		return hljs.highlight(code, { language }).value;
	},
	langPrefix: 'hljs language-',
	smartypants: true
});

DOMPurify.addHook('afterSanitizeAttributes', function (node) {
	// set all elements owning target to target=_blank
	// Stolen from https://github.com/cure53/DOMPurify/issues/317#issuecomment-698800327
	if ('target' in node) {
		node.setAttribute('target', '_blank');
		node.setAttribute('rel', 'noopener');
	}
});

const content = DOMPurify.sanitize(marked.parse(post.content));
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead title={`${post.heading} | ${SITE_TITLE}`} description={post.description} image={imageHelper(post.cover.data.attributes, 'thumbnail').src}>
		<link rel="preload" as="image" href={imageHelper(post.cover.data.attributes, 'original').src} />
		<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" async defer></script>
		<link rel="dns-prefetch" href="https://avatars.dicebear.com/" />
	</BaseHead>
	<body data-post_id={posts.data[0].id} class="grid min-h-screen grid-rows-[auto,1fr,auto]">
		<!-- Inject post id here so its known on client side  -->
		<Header />
		<main aria-label="Main" class="place-self-center">
			<section aria-label="Post Image & Publish Date" class="w-full px-6 md:w-[45rem] md:px-0 lg:w-[55rem]">
				<div class="pb-6">
					<PostImage imageObject={post.cover.data.attributes} classes={'rounded-md w-full h-full object-cover aspect-video border-2 border-rose-800 flex place-items-center justify-center'} size={'original'} alt={'Heading Image'} />
				</div>
				<div>
					<p><time id="publishedAt" data-publishedat={post.publishedAt}>Published on: {post.publishedAt}</time></p>
					<p><time id="updatedAt" data-updatedat={post.updatedAt}>Last updated on: {post.updatedAt}</time></p>
				</div>
			</section>
			<section aria-label="Main Article" class="mt-14 w-full px-6 md:w-[45rem] md:px-0 lg:w-[55rem]">
				<article class="prose-md prose-invert prose mt-5 max-w-full md:prose-xl" set:html={content} />
			</section>
		</main>
		<section aria-label="Comments" class="grid w-full place-items-center place-self-center">
			<CommentPost />
			<CommentReply />
			<CommentSection />
		</section>
		<Footer />
		<script is:inline>
			// Fix post timestamps
			let updatedAtElement = document.querySelector('#updatedAt');
			let updatedAt = updatedAtElement.dataset.updatedat;
			let publishedAtElement = document.querySelector('#publishedAt');
			let publishedAt = publishedAtElement.dataset.publishedat;
			const options = {
				dateStyle: 'short',
				timeStyle: 'short'
			};

			publishedAtElement.innerHTML = 'Published on: ' + new Date(publishedAt).toLocaleString('en-US', options);
			updatedAtElement.innerHTML = 'Last updated on: ' + new Date(updatedAt).toLocaleString('en-US', options);
		</script>
		<script>
			document.querySelectorAll('pre').forEach((pre) => {
				// Create new button
				let copyButton = document.createElement('button');
				copyButton.innerHTML =
					'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M280 64h40c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128C0 92.7 28.7 64 64 64h40 9.6C121 27.5 153.3 0 192 0s71 27.5 78.4 64H280zM64 112c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320c8.8 0 16-7.2 16-16V128c0-8.8-7.2-16-16-16H304v24c0 13.3-10.7 24-24 24H192 104c-13.3 0-24-10.7-24-24V112H64zm128-8a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg>';
				let buttonClasses = 'absolute top-4 right-4 active:fill-green-800 active:text-white duration-1000 active:duration-0 fill-gray-400 w-3.5 copy-button hidden';
				copyButton.classList.add(...buttonClasses.split(' '));

				pre.style.position = 'relative'; // Needed to position button correctly

				// Add that button to the pre block
				pre.appendChild(copyButton);

				// Add event listeners to show hide button
				pre.addEventListener('mouseenter', () => {
					copyButton.classList.remove('hidden');
				});
				pre.addEventListener('mouseleave', () => {
					copyButton.classList.add('hidden');
				});
			});

			// Copy button event listener
			document.querySelectorAll('.copy-button').forEach((copyButton: HTMLElement) => {
				copyButton.addEventListener('click', () => {
					// Get code block Element
					let codeBlock = copyButton.previousSibling.cloneNode(true) as HTMLElement;

					// Find all comments
					codeBlock.querySelectorAll('.hljs-comment').forEach((comment) => {
						// Remove them
						comment.remove();
					});

					let clipboardText = codeBlock.textContent.replace(/^\s*[\r\n]/gm, ''); // Regex to remove all empty lines
					navigator.clipboard.writeText(clipboardText);
				});
			});
		</script>
	</body>
</html>
