---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
var api = "http://localhost:1337/api/posts?fields[0]=heading&fields[1]=createdAt&fields[2]=slug&populate[tags][fields]=tag&pagination[pageSize]=2"
if (Astro.url.searchParams.get('page')){
	api = api + "&pagination[page]=" + Astro.url.searchParams.get('page')
}

const posts  =  await fetch(api).then(res => res.json())
const totalPages = posts.meta.pagination.pageCount
const currentPage = posts.meta.pagination.page
---

<!DOCTYPE html>
<html lang="en" class=" bg-zinc-800 text-zinc-200">
	<body class="min-h-screen grid grid-rows-[auto,1fr]">
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<Header />
		<main class="mt-10">
			<section>
				<form method="get" action="/search" class="w-full grid place-items-center">
					<input class=" bg-black rounded-md h-9 mb-2 text-center w-2/4" type="text" id="search" name="search" placeholder="Search"><br>
					<input class="hidden" type="submit" value="Go!">
				  </form>
			</section>
			<section>
				<!-- <ul>
					{posts.data.map((post) => (
						<li>
							<time datetime={post.attributes.createdAt}>
								{new Date(post.attributes.createdAt).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={"/blog/" + post.id}>{post.attributes.heading}</a>
						</li>
						<li class="pb-3"><span>tags: </span>
							{post.attributes.tags.data.map((tag) => (
								<span>&VeryThinSpace; <a href={"/tag/" + tag.attributes.tag}>{tag.attributes.tag}</a>, &VeryThinSpace;</span>
							))
								}
							
							</li>
					))}
				</ul> -->
			</section>
			<section>
				<!-- {totalPages > 1 &&
					<>{currentPage < totalPages && <a href={"?page=" + (currentPage + 1)}>Forward</a>}</><br/>
					<>{currentPage > 1 && <a href={"?page=" + (currentPage - 1)}>Back</a>}</>
					
				} -->
			</section>
		</main>
		<section class=" place-items-end text-left p-5"><Footer /></section>
	</body>
</html>
