---
import AdminIcon from './AdminIcon.astro';
import ReplyButton from './ReplyButton.astro';
import ReportButton from './ReportButton.astro';

const { comment, isReply = false } = Astro.props;
const isAdmin: boolean = comment.isAdminComment == null ? false : true;
const avatar: string = comment.author.avatar == null ? 'https://api.dicebear.com/7.x/identicon/svg?background=%23ffffff&seed=loveingtheairUwU' : comment.author.avatar;
---

<div class={'rounded grid grid-cols-[auto] md:grid-cols-[auto,1fr] ' + (isReply ? 'pl-5' : '')}>
	<article class={'px-6 py-5 mb-6 text-base rounded-md bg-zinc-900 border border-rose-800 ' + (isReply ? 'md:w-[38.75rem]' : 'md:w-[40rem]')}>
		<footer class="mb-2 flex items-center">
			<div class="flex w-full">
				<div aria-labelledby="Commenter Image" class="mr-3 self-center">
					<img class="h-10 w-10 rounded-sm" loading="lazy" src={avatar} alt={comment.author.name} />
				</div>
				<div class="w-full self-center">
					<p class="text-base">
						{comment.author.name}
						{isAdmin ? <AdminIcon /> : <ReportButton commentID={comment.id} />}
					</p>
					<time class="commentPostTime text-sm text-gray-600 dark:text-gray-400" data-commentposttime={comment.createdAt}>
						{comment.createdAt}
					</time>
				</div>
			</div>
		</footer>
		<pre aria-label="Comment Content" class="mt-3 whitespace-pre-wrap">{comment.content}</pre>
		{!isReply ? <ReplyButton commentAuthor={comment.author.name} commentID={comment.id} /> : ''}
	</article>
</div>
<div class="relative after:absolute after:top-0 after:-z-10 after:h-[97%] after:w-full after:rounded-bl-lg after:border-l after:border-zinc-600">
	{
		comment.children
			.slice(0)
			.reverse()
			.map((replyComment) => <Astro.self comment={replyComment} isReply={true} />)
	}
</div>
