---
import PostImage from '../components/PostImage.astro';
import imageHelper from '../lib/image-helper';
const { posts } = Astro.props;
---

<section class="grid place-items-center">
	{
		posts.data.map((post) => (
			<>
				<a aria-disabled="true" role="link" aria-label="prefetch image" rel="prefetch" tabindex="-1" href={imageHelper(post.attributes.cover.data.attributes, 'original').src} />
				<div
					class="relative mb-6 grid w-[20rem] overflow-hidden rounded-lg border-2 border-rose-700 shadow-xl shadow-rose-600/10 transition-all hover:-translate-y-1
				hover:shadow-rose-600/40 sm:grid-rows-[1fr,66%] md:min-h-[182.5px] md:w-[48rem] md:grid-cols-[1fr,63%] md:grid-rows-[unset]"
				>
					<PostImage imageObject={post.attributes.cover.data.attributes} classes={'rounded-l-sm w-full h-full aspect-video object-cover flex place-items-center justify-center'} size={'small'} alt={'Thumbnail'} />
					<div class="h-fit rounded-r-sm bg-zinc-900 md:h-full">
						<div class="m-5 mb-3">
							<a tabindex="0" href={`/blog/${post.attributes.slug}/`} rel="prefetch" class="z-10 text-3xl after:absolute after:bottom-0 after:left-0 after:right-0 after:top-0">
								{post.attributes.heading}
							</a>
						</div>
						<div class="relative mx-5 mb-5 w-fit">
							<span class="mr-2 rounded bg-rose-200 px-2.5 py-0.5 pb-1 text-xs font-semibold text-rose-900">tags:</span>
							{post.attributes.tags.data.map((tag: { id: number; attributes: { tag: string } }) => (
								<a class="z-20 inline-block text-blue-500 hover:text-rose-700" href={`/tag/${tag.attributes.tag}/`} rel="prefetch">
									#{tag.attributes.tag} &VeryThinSpace;
								</a>
							))}
						</div>
						<div class="pb-5 pl-5 pr-5">
							<p class="line-clamp-5 overflow-hidden md:line-clamp-3">{post.attributes.description}</p>
						</div>
					</div>
				</div>
			</>
		))
	}
</section>
