---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
const { tag } = Astro.params;
var posts  =  await fetch('http://localhost:1337/api/posts?filters[tags][tag][$eq]='+ tag +'&fields[0]=heading&fields[1]=createdAt&fields[2]=slug&populate[tags][fields]=tag').then(res => res.json())
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<form method="get" action="/search">
					<input class="bg-green-800 text-white rounded-md h-6 mb-2 text-center" type="text" id="search" name="search" placeholder="Search"><br>
					<input class="bg-red-800 text-white rounded-md w-16 h-8 text-center" type="submit" value="Go!">
				  </form>
			</section>
			<section>
				<ul>
					{posts.data.map((post) => (
						<li>
							<time datetime={post.attributes.createdAt}>
								{new Date(post.attributes.createdAt).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
							<a href={"/blog/" + post.id}>{post.attributes.heading}</a>
						</li>
						<li class="pb-3"><span>tags: </span>
							{post.attributes.tags.data.map((tag) => (
								<span>&VeryThinSpace; <a href={"/tag/" + tag.attributes.tag}>{tag.attributes.tag}</a>, &VeryThinSpace;</span>
							))
								}
							
							</li>
					))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
